HOST=0.0.0.0
PORT=4000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_KEY_PREFIX=goonhub-node

# The path to our dumb central server config file
GAME_SERVER_CONFIG=servers.example.conf

# Basic auth used for protected routes
API_PRIVATE_USER=user
API_PRIVATE_PASS=password
